/*
 * Globals
 */
 /* html,
body {
  height: 100%;
  background-color: #FDA7DF;
} */
/* Links */
html,
body{
  height: 100% !important;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/*
 * Base structure
 */
.cover-container {
  max-width: 30em;
  background-color: rgba(73, 14,41, .7);
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
  min-width: 100%;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
