<%= content_for :body do  %> 
<div class="container menu-bg flex-fill">
    <div class="row mt-5 justify-content-center">
        <div class="card col-11" >
            <div class="card-body ">
                <h1 class="card-title">Account Info</h1>
                <p class="card-text"><h4><%= @customer.email %></h4></p>
            </div>
        </div>
    </div>
</div>
<% end %>