<%= content_for :body do %>
    <div class="container menu-bg pt-4 flex-fill">
        <div class="row">
            <div class="col-lg-3">
                <%= render 'products/side_bar' %>
            </div>
            <div class="col-lg-8">
                <div class="row">
                   <div class="jumbotron" style="padding-top: 15px;">
                        <h1 class="display-4">About</h1>
                        <hr>
                        <p class="lead">We are a Brooklyn based company that sells high-quality donuts and warm beverages at a fair price.</p>
                    </div>
                </div>
            </div>
        </div>   
    </div>
<% end %>