<% @title = "Contact"%>
<%= content_for :body do %>
    <div class="container menu-bg pt-4 flex-fill">
        <div class="row">
            <div class="col-lg-3">
                <%= render 'products/side_bar' %>
            </div>
            <div class="col-8">
                <div class="row">
                   <div class="jumbotron w-100" style="padding-top: 15px;"> 
                        <h1 class="display-12" >Contacts</h1>
                        <hr>
                        <p class="lead">Phone Number: <br> 1-800-XXX-XXXX </p>
                        <p class="lead">Email: <br> contact@dough2go.com </p>
                    </div>
                </div>
            </div>
        </div>   
    </div>
<% end %>