<%= content_for :css do %>
  <%= stylesheet_link_tag("/cover.css", 'data-turbolinks-track': 'reload') %>
<% end %>
<%= content_for :body do %>
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
<!-- Custom styles for this template -->

<div class="my-auto mx-auto cover-container w-100 p-3">
  <main role="main" class="cover text-center">
    <h1 class="cover-heading" id="cover-logo" style="font-family: 'Pacifico', cursive ; color: white;">Dough2Go</h1>
    <p class="lead">Log-in or click browse to check out our products</p>
    <p class="lead">
      <%= link_to "Browse",  products_path, class: "btn btn-lg btn-secondary"  %>
    </p>
  </main>
</div>
<footer class="mastfoot mt-auto">
  <div class="inner">
    <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a
        href="https://twitter.com/mdo">@mdo</a>.</p>
  </div>
</footer>

<% end %>