/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */ 
 html {
   height:100%
} 

body {
  min-height: 100%;
  background-color: rgb(196, 155, 249);
  font-family: 'Asap', sans-serif;

}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

body {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  background-image: url(https://cdn.cnn.com/cnnnext/dam/assets/181127105254-08-50-sweets-travel-donuts-super-169.jpg)  !important; 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.navbar {
  background: rgb(196, 155, 250);
  /* background: white; */
  /* background-color: #281519; */
}

.navbar>.navbar-brand{
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 1.7em;
}

.navbar-light .navbar-nav .active>.nav-link{
  color:white;
}

.navbar-light .navbar-nav .nav-link{
  color:white;
}
 
 #main-navbar .navbar-brand{
  color: white;
} 

.navbar a{
  color: white;
  font-family: 'Quicksand';
}

.list-group {
  background-color: rgb(232, 232, 232);
}

.list-group a{
  color: rgb(193, 96, 162);
  font-family: 'Quicksand';
}

.menu-bg{
  background-color: rgba(59, 11, 53, 0.6);
  /* opacity: 0.4; */
}

.card{
  /* border-radius: 15px; */
  border: 5px double r#5D270F;
}

.card-header{
  font-family: 'Quicksand';
  font-weight: 900;
}

.card-body a{
  color: rgb(193, 96, 162);
  font-family: 'Pacifico', cursive;
}

.card-text {
  font-family: 'Quicksand';
}

.card-footer{
  background-color: rgb(232, 232, 232);
}

.card-body {
  font-family: 'Quicksand';
}

#cart-view{
  color: white;
}

.table{
  color: #fff;
}

.btn-primary{
  background-color: rgb(196, 155, 249);
  border-color: rgb(196, 155, 249);
}

.jumbotron > h1{
  font-family: 'Pacifico', cursive;
  color: rgb(193, 96, 162);
}

.jumbotron > p{
  font-family: 'Quicksand';
}

