<div class="list-group">
        <%= link_to 'See All', products_path, class: "list-group-item" %>
        <%= link_to 'Donuts', products_path(query:"donuts"), class: "list-group-item"  %>
        <%= link_to 'Beverages', products_path(query:"beverages"), class: "list-group-item" %>
      </div>